/**
 * feed__ad.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

.feed__ad {

    display: inline-block;

    box-sizing: border-box;

    overflow: hidden;
}

/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {

    .feed__ad {
        
        width: 36.3636363636%; /* 160px * 100% / 440px */

        margin-left:4.54545454545%; /* 20px * 100% / 440px */
    }
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

}
