/**
 * feed-content-date__day.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

.feed-content-date__day {

    margin: 0;
    padding: 0;
}

.feed-content-date__day:after {

    display: inline-block;

    position: absolute;
    z-index: 2;
    right: 0;

    content: '▸';
}

.feed-content-date:hover>.feed-content-date__day:after {

    color: red;

}


/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {

    .feed-content-date__day {

        margin-top: 12.3287671233%; /* 9px * 100% / 73px */

    }

    .feed-content-date__day:after {

        font-size: 0.5rem;

        line-height: 1rem;

    }
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {

    .feed-content-date__day:after {

        font-size: 0.7rem;

        line-height: 1.1rem;

    }
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

    .feed-content-date__day:after {

        font-size: 0.8rem;

        line-height: 2rem;
    }
}
