/**
 * feed-content-date__day.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

.feed-content-date__day {

    margin: 0;
    padding: 0;
}

.feed-content-date__day:after {

    display: inline-block;

    position: absolute;
    z-index: 2;
    right: 0;

    content: '▸';
}

.feed-content-date:hover>.feed-content-date__day:after {

    color: red;

}


/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {

    .feed-content-date__day {

        margin-top: 12.3287671233%; /* 9px * 100% / 73px */
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {

}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

}
