/**
 * feed__chunk.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

.feed__chunk {

    display: block;

    margin: 0;
    padding: 0;
}

.feed__chunk:after {

    display: block;

    height: 0;

    clear: both;

    content: ' ';
}

/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {
}
