/**
 * feed__content.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

.feed__content {

    display: block;

    float: left;

    overflow: hidden;

    cursor: pointer;
}

/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {

    .feed__content {

        width: 23.5483870968%; /* 73px * 100% / 310px */

        margin: 0;
        margin-right:  1.935483871%; /* 6px * 100% / 310px */ 
        margin-bottom:  1.935483871%; /* 6px * 100% / 310px */ 

    }

    .feed__content:nth-child(4n) {

        margin: 0;
    }

    .feed__content:nth-child(4n+1) {

        clear: both;
    }
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {

    .feed__content, 
    .feed__content:nth-child(4n) {

        width: 18.1818181818%; /* 80px * 100% / 440px */
        margin: 0;
        margin-right:  2.27272727273%; /* 10px * 100% / 440px */ 
        margin-bottom:  2.27272727273%; /* 10px * 100% / 440px */
    }

    .feed__content:nth-child(4n+1) {clear: none}
    .feed__content:nth-child(5n) {margin: 0;}
    .feed__content:nth-child(5n+1) {clear: both;}

    /* tablet-short styles */

    .feed__chunk_tablet-short .feed__content:nth-child(5n+1) {clear: none}

    .feed__chunk_tablet-short .feed__content,
    .feed__chunk_tablet-short .feed__content:nth-child(5n) {

        width: 30.7692307692%; /* 80px * 100% / 260px */

        margin-right:   3.84615384615%; /* 10px * 100% / 260px */ 
        margin-bottom:  3.84615384615%; /* 10px * 100% / 260px */
    }

    .feed__chunk_tablet-short .feed__content:nth-child(3n) {margin: 0;}
    .feed__chunk_tablt-short .feed__content:nth-child(3n+1) {clear: both}
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

    .feed__content, 
    .feed__content:nth-child(4n),
    .feed__content:nth-child(5n),
    .feed__chunk_tablet-short .feed__content,
    .feed__chunk_tablet-short .feed__content:nth-child(3n),
    .feed__chunk_tablet-short .feed__content:nth-child(4n),
    .feed__chunk_tablet-short .feed__content:nth-child(5n) {

        width: 22.8571428571%; /* 160px * 100% / 700px */
        margin: 0;
        margin-right:  2.85714285714%; /* 20px * 100% / 700px */ 
        margin-bottom:  2.85714285714%; /* 20px * 100% / 700px */
    }

                              .feed__content:nth-child(4n),
    .feed__chunk_tablet-short .feed__content:nth-child(4n)  {margin: 0;}

    .feed__content:nth-child(5n+1) {clear: none;}
    .feed__content:nth-child(4n+1) {clear: both;}

    /* desktop-short styles */

    .feed__chunk_desktop-short .feed__content:nth-child(4n+1) {clear: none}

    .feed__chunk_desktop-short .feed__content,
    .feed__chunk_desktop-short .feed__content:nth-child(4n) {

        width: 30.7692307692%; /* 160px * 100% / 520px */
        margin: 0;
        margin-right: 3.84615384615%; /* 20px * 100% / 520px */
        margin-bottom: 3.84615384615%; /* 20px * 100% / 520px */
    }

    .feed__chunk_desktop-short .feed__content:nth-child(3n) {margin: 0;}

    .feed__chunk_desktop-short .feed__content:nth-child(3n+1) {clear:both;}
}
