/**
 * feed__chunk_desktop-short.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */

/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {

    .feed__chunk_desktop-short {

        width: 100%;
        float: left;
    }
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

    .feed__chunk_desktop-short {

         width: 74.2857142857%; /* 520px * 100% / 700px */
    }
}
