/**
 * feed__ad_desktop.css
 *
 * @author idbolshakov@gmail.com
 */

/** 
 * basic section 
 * 
 */
/** 
 * mobile section 
 * 
 */
@media  (min-width: 320px) {

    .feed__ad_desktop {

        display: none;
    }
}

/**
 * tablet section 
 *
 */
@media (min-width: 480px) {

    .feed__ad_desktop {

        display: none;
    }
}

/** 
 * desktop seciton 
 *
 */
@media (min-width: 768px) {

    .feed__ad_desktop {

        display: block;
    }
}

